/denim
/product-card (1).png
/задание 2_1.rar
/задание 2_2.rar
/задание 2_3.rar
/задание 2_4.rar
/задание 2_5.rar
/задание 2_6.rar
/задание 2_7.rar
/задание 2_8.rar
/задание 2_9.rar
/масштаб страницы 100%.PNG
/масштаб страницы 110%.PNG
/резерв без ширины.rar